black==23.7.0
cbor==1.0.0
flake8==6.0.0
flake8-bugbear==23.9.16
flake8-implicit-str-concat==0.4.0
Flask==2.3.2
flask_smorest==0.42.0
gevent==23.7.0
gunicorn==21.2.0
isort==5.10.1
marshmallow==3.20.1
matplotlib==3.5.3
numpy==1.24.4
Pillow==10.0.0
pre-commit==3.3.3
prometheus_client==0.15.0
psutil==5.8.0
psycopg2==2.9.1
pylibmc==1.6.1
pytest==7.4.0
toml==0.10.2
